Flask==2.3.3
Flask-CORS==4.0.0
gunicorn==21.2.0
requests==2.31.0
sentence-transformers==3.0.1
numpy>=1.26.0
python-dotenv==1.0.0
torch>=2.1.0
torchvision>=0.16.0
black==24.4.2
flake8==7.1.0
pytest==7.4.0